@tailwind base;
@tailwind components;
@tailwind utilities;

.col-ghost > *,
.task-ghost {
	position: relative;
}

.col-ghost > *:after,
.task-ghost:after {
	content: '';
	@apply absolute inset-0 z-50 block rounded-lg;
}

.task-ghost:after {
	@apply bg-slate-300;
}

.col-ghost > * > * {
	visibility: hidden;
}

.col-ghost > *:after {
	@apply bg-pink-700/80;
}
